.footer__container {
    background-color: var(--primary-color);
    padding: var(--section-padding);
}

.footer__links {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    height: 3rem;
    align-items: stretch;
    text-decoration: none;
    list-style-type: none;
}

.footer__item {
    transition: all ease var(--transition-speed);
    position: relative;
    margin-top: 30px;
}
.footer__item:hover {
    padding-top: 20px;
}

.footer__item p{
    transition: all ease var(--transition-speed);
    color: white;
    text-decoration: none;
    font-size: large;
    opacity: 0;
}

.footer__item:hover p {
    opacity: 1;
}

.footer__item a {
    text-decoration: none;
}

.footer__item img {
    font-size: large;
    position: absolute;
    top: 0;
    left: 40%;
    scale: 3;
}