body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    overflow-x: hidden;
    font-family: var(--font-family);
    font-size: large;
}